:root {
    --text-primary: hsl(0, 6%, 24%);
    --text-secondary: rgb(216, 204, 204);

    --accent-primary: hsl(0, 36%, 70%);
    --accent-secondary: hsl(0, 93%, 68%);

    --gradient-primary: linear-gradient(135deg, hsl(0, 100%, 95%), hsl(0, 65%, 79%));
    --gradient-secondary: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: center;
    background-size: cover;
}

.topBar {
    top: 0;
    padding: 4rem;
    padding-left: 5rem;
    width: 100vw;
    height: 30px;
}

.hero {
    height: 100vh;
    width: 40%;
    float: right;
    right: 0;
    top: 0;
    position: fixed;
    background-image: url(../images/hero-desktop.jpg);
    background-size: cover;
}

.main {
    color: var(--accent-primary);
}

.header {
    display: flex;
    flex-direction: column;
    letter-spacing: 10px;
}
.thinLabel {
    font-size: 4.5rem;
    font-weight: 1;
}
.thickLabel {
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-primary);
}

.description {
    line-height: 1.5rem;
}

.newsletter {
    display: flex;
    align-items: center;
    margin-top: 2rem;;
}

.newsletter input {
    padding: 0.7rem;
    width: 80%;
    border-width: 1px;
    border-radius: 20px;
    border-color: var(--accent-primary);
    color: var(--text-secondary);
    background: none;
    outline: none;
}

.newsletter button {
    height: 2.5rem;
    width: 5rem;
    /* Effectively places the button on top of the input field */
    transform: translateX(-50%);
    border: 0;
    outline: none;
    cursor: pointer;
    /* the bg color is a fallback in case, by some crazy chance, the
    linear grad fails */
    background-color: pink;
    background-image: var(--gradient-secondary);
    border-radius: 20px;
    box-shadow: 2px 9px 15px 1px rgba(101, 100, 100, 0.3);
}

button:hover {
    background-image: var(--gradient-primary);
    transition: 0.5s;
}

/* generaly normal pc screens */
@media screen and (min-width: 550px) {
    .topBar {
        width: 50vw;
    }
    
    .main {
        
    left: 0;
    float: left;
    width: 40vw;
    padding-left: 5rem;
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: fixed;

    }

    body::-webkit-scrollbar {
        width: none;
        height: 0.5rem;
    }
}

/* small windows, screens and phone displays */
@media screen and (max-width: 550px) {
    body {
        width: 100vw;
    }
    
    .topBar {
        height: 10px;
        width: 1px;
        padding-left: 2rem;
        padding-top: 3rem;
        margin: 0;
    }

    .main {
        width: 100%;
        padding: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 0.5s;
        margin: 0;
    }

    .hero {
        position: relative;
        width: 100vw;
        height: 250px;
        background-image: url(../images/hero-mobile.jpg);
        background-size: cover;
        background-position: center;
        transition: 0.4s;
    }

    .header {
        align-items: center;
        justify-content: center;
    }
    .thinLabel {
        font-size: 3rem;
    }
    .thickLabel {
        font-size: 3.1rem;
    }

    .description {
        margin-left: 2.5rem;
        margin-right: 2rem;
        text-align: center;
    }

    .newsletter {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        margin-bottom: 8rem;
    }
}
